{% include 'tickets/navbar.html' %}

{%load crispy_forms_tags %} 
{% load auth_extras %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 login-form">
                <!-- Sign up Form -->
                <h2 class="mb-3 text-center">Complaint</h2>
                {% csrf_token %}
                <form action="" method="POST" class="">
                    {% csrf_token %}
                    {{ form.media.js }}
                    {{ form|crispy }}
                    <div class="login-btn-container">
                        <button type="submit" class="btn btn-primary px-4">Create Complaint</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
