<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <style>
      /* Add custom CSS to center the login button */
      .login-btn-container {
          text-align: center;
      }

      /* Add custom CSS to create a border around the login form */
      .login-form {
          border: 1px solid #ccc;
          padding: 20px;
          border-radius: 5px;
      }
  </style>
</head>
<body>
  {%load crispy_forms_tags %} 
  {% load auth_extras %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'ticketsHome' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'createTicket' %}">New Complaint</a>
              </li>
            {% endif %}
        </ul>
        <form class="d-flex">
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
          {% if user.is_authenticated %}
            <p class="navbar-text" aria-current="page">Hi {{ user.username }}!  </p>
            <button class="btn btn-outline-success"><a class="nav" href="{% url 'logout' %}">Logout</a></button>
          {% else %}
            <button class="btn btn-outline-success"><a class="nav" href="{% url 'login' %}">Login</a></button>
          {% endif %}
        </form>
      </div>
    </div>
  </nav>