{% include 'tickets\navbar.html' %}
{% load auth_extras %}
{% if user.is_authenticated %}
<br>
    <div class="container">
        {% if ticketsCreatedByUser %}
        <table id="dataTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Address</th>
                    <th>Location</th>
                    <th>Created by</th>
                    <th>Status</th>
                    <th>Operation</th>
                    <!-- Add more table headers as needed -->
                </tr>
            </thead>
            <tbody>
                {% for ticket in ticketsCreatedByUser %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.title }}</td>
                    <td>{{ ticket.address }}</td>
                    <td>{{ ticket.user_profile.locationType}}</td>
                    <td>{{ ticket.created_by.username}}</td>
                    <td>{{ ticket.status }}</td>
                    <td>
                        <a href="{% url 'ticket' ticket.id %}">Check</a>
                        {% if request.user|has_group:"Staff" %} 
                            <a href="{% url 'editTicketForStaff' ticket.id %}">Edit ticket</a>
                        {% endif %}
                    </td>
                    <!-- This seems to be a hardcoded value. Should it be {{ ticket.age }}? -->
                    <!-- Add more table rows as needed -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No tickets created by you. Create a new complaint? </p>
    {% endif %}
        </div>
{% endif %}


</body>
</html>