{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <a href="{% url 'index' %}">Ticket home page</a>
    {% if ticket_details %}
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Location</th>
            <th>Created By</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>{{ ticket_details.title }}</td>
            <td>{{ ticket_details.description }}</td>
            <td>{{ user_details.userprofile.locationType }}</td>
            <td>{{ ticket_details.created_by }}</td>
            <td>{{ ticket_details.status }}</td>
        </tr>
    </table>
    {% else %}
        <p>No tickets created by you.</p>
    {% endif %}
    <div class="alert alert-success" role="alert">
        <a href="{% url 'logout' %}">Logout?</a>
    </div>
{% endif %}
